---
import {cn} from '@/lib/utils'
import {ThemeToggle} from '@/components/theme-toggle'
import {siteMeta} from '@/config/site'
import {Star} from 'lucide-react'
type Props = {
    className?: string;
}

const {className} = Astro.props
---

<footer class={cn(className)}>
<div class="container flex flex-col items-center justify-between gap-4 py-10 md:flex-row md:py-4">
    <div class="flex flex-col items-center gap-4 px-8 md:flex-row md:gap-2 md:px-0 ">
        <a href="/" aria-label="Astronomy homepage">
            <Star className='size-8'/>
        </a>

        <p class="text-center text-sm leading-loose md:text-left text-balance">
            Built by{" "}
            <a href="/" target="_blank" rel="noreferrer" class="font-medium underline underline-offset-4">
                Kevin Cheng
            </a>
            . The source code is available on{" "}
            <a href="/" target="_blank" rel="noreferrer" class="font-medium underline underline-offset-4">
                Github
            </a>
            .
        </p>
    </div>
    <ThemeToggle client:idle/>
</div>
</footer>